p{
  font-family: Roboto, Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
body{
  /* this style below will be inherited*/
  font-family: Roboto, Arial;
  height: 3000px;
  margin: 0px;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
background-color: rgb(247, 247, 247);

}
@media (min-width:1200.1px)
{
  body {
    margin-left:168px;
  };
}